
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
Config/*.xcconfig.local

# Xcode user-specific junk
*.xcuserdata/
*.xcuserstate
# Finder dust
.DS_Store
**/.DS_Store
